<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  		<typeAlias type="team1.project.bookshop.domain.Admin" 					alias="Admin"/>
  		<typeAlias type="team1.project.bookshop.domain.Member" 				alias="Member"/>
 		<typeAlias type="team1.project.bookshop.domain.LoginForm" 			alias="LoginForm"/>
 		<typeAlias type="team1.project.bookshop.domain.Sns" 						alias="Sns"/>
 		<typeAlias type="team1.project.bookshop.domain.Info" 						alias="Info"/>
  		<typeAlias type="team1.project.bookshop.domain.Notice" 					alias="Notice"/>
  		<typeAlias type="team1.project.bookshop.domain.Inquiry_category" 	alias="Inquiry_category"/>
  		<typeAlias type="team1.project.bookshop.domain.Inquiry_img" 			alias="Inquiry_img"/>
  		<typeAlias type="team1.project.bookshop.domain.Inquiry" 					alias="Inquiry"/>
  		<typeAlias type="team1.project.bookshop.domain.Book" alias="Book"/>
		<typeAlias type="team1.project.bookshop.domain.BookType" alias="BookType"/>
		<typeAlias type="team1.project.bookshop.domain.BookTopCategory" alias="BookTopCategory"/>
		<typeAlias type="team1.project.bookshop.domain.BookSubCategory" alias="BookSubCategory"/>
		<typeAlias type="team1.project.bookshop.domain.Cart" alias="Cart"/>
		<typeAlias type="team1.project.bookshop.domain.Orders" alias="Orders"/>
  </typeAliases>
  
  <mappers>
  		<mapper resource="team1/project/bookshop/mybatis/BookMapper.xml"/>
	    <mapper resource="team1/project/bookshop/mybatis/BookTopCategoryMapper.xml"/>
	    <mapper resource="team1/project/bookshop/mybatis/BookSubCategoryMapper.xml"/>
	    <mapper resource="team1/project/bookshop/mybatis/BookTypeMapper.xml"/>
  		<mapper resource="team1/project/bookshop/mybatis/AdminMapper.xml"/>
  		<mapper resource="team1/project/bookshop/mybatis/MemberMapper.xml"/>
    	<mapper resource="team1/project/bookshop/mybatis/LoginFormMapper.xml"/>
    	<mapper resource="team1/project/bookshop/mybatis/SnsMapper.xml"/>
    	<mapper resource="team1/project/bookshop/mybatis/InfoMapper.xml"/>
  		<mapper resource="team1/project/bookshop/mybatis/NoticeMapper.xml"/>
  		<mapper resource="team1/project/bookshop/mybatis/Inquiry_categoryMapper.xml"/>
  		<mapper resource="team1/project/bookshop/mybatis/Inquiry_imgMapper.xml"/>
  		<mapper resource="team1/project/bookshop/mybatis/InquiryMapper.xml"/>
  		<mapper resource="team1/project/bookshop/mybatis/CartMapper.xml"/>
  		<mapper resource="team1/project/bookshop/mybatis/OrdersMapper.xml"/>
  </mappers>
  
</configuration>